@font-face {
  font-family: "NanumSquare";
  src: url("../libs/fonts/NanumSquareL.eot");
  src: url("../libs/fonts/NanumSquareL.eot?#iefix") format("embedded-opentype"),
      url("../libs/fonts/NanumSquareL.woff2") format("woff2"),
      url("../libs/fonts/NanumSquareL.woff") format("woff"),
      url("../libs/fonts/NanumSquareL.ttf") format("truetype");
  font-weight: 200
}

@font-face {
  font-family: "NanumSquare";
  src: url("../libs/fonts/NanumSquareR.eot");
  src: url("../libs/fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"),
      url("../libs/fonts/NanumSquareR.woff2") format("woff2"),
      url("../libs/fonts/NanumSquareR.woff") format("woff"),
      url("../libs/fonts/NanumSquareR.ttf") format("truetype");
  font-weight: 400
}

@font-face {
  font-family: "NanumSquare";
  src: url("../libs/fonts/NanumSquareB.eot");
  src: url("../libs/fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"),
      url("../libs/fonts/NanumSquareB.woff2") format("woff2"),
      url("../libs/fonts/NanumSquareB.woff") format("woff"),
      url("../libs/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: 600
}

@font-face {
  font-family: "NanumSquare";
  src: url("../libs/fonts/NanumSquareEB.eot");
  src: url("../libs/fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
      url("../libs/fonts/NanumSquareEB.woff2") format("woff2"),
      url("../libs/fonts/NanumSquareEB.woff") format("woff"),
      url("../libs/fonts/NanumSquareEB.ttf") format("truetype");
  font-weight: 800
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse
}

input,textarea,button,select {
  font: inherit;
  color: inherit
}

html,body {
  height: 100%
}

body {
  display: table;
  width: 100%;
  height: 100%
}

body {
  background-color: transparent;
  background-image: url("../images/pattern-oreo.jpg");
  background-repeat: repeat;
  background-position: center top
}

body {
  font: 16px/1.6 "NanumSquare",sans-serif;
  color: #212121
}

a {
  color: inherit;
  text-decoration: none
}

.awning {
  background: transparent url("../images/bg-awning.png") repeat-x center 0
}

.btn,
.btn-primary {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  display: inline-block;
  border: 0;
  padding: 0;
  text-align: center;
  cursor: pointer
}

.accessible-hidden,
.slider-container .btn-prev>span,
.slider-container .btn-next>span {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px
}

.header,.footer {
  display: table-row;
  width: 100%;
  height: 1px
}

.container {
  display: table-row;
  width: 100%;
  height: 100%
}

.inner {
  margin: 0 auto;
  width: 980px
}

.page-controller {
  margin-bottom: 20px;
  text-align: center
}

.footer {
  background-color: #74d1f3
}

.footer .inner {
  background-image: url("../images/foot-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #74d1f3;
  height: 175px
}

.awning .inner {
  height: 132px
}

.logo {
  display: block;
  margin: 0 auto;
  width: 510px;
  -webkit-transform: translate(0, 132px);
  -ms-transform: translate(0, 132px);
  transform: translate(0, 132px)
}

.canvas-container {
  background-color: #fff;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 640px;
  height: 437px
}

.slider-container {
  position: relative;
  overflow: hidden
}

.slider-container .slider-inner {
  width: 1000%;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s
}

.slider-container .slider-item {
  float: left
}

.slider-container .slider-inner::after {
  content: '';
  overflow: hidden;
  clear: both;
  display: table;
  height: 0
}

.slider-container .btn-prev,
.slider-container .btn-next {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900
}

.slider-container .btn-prev,
.slider-container .btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) scale(0.6, 1);
  -ms-transform: translate(0, -50%) scale(0.6, 1);
  transform: translate(0, -50%) scale(0.6, 1);
  font-size: 6rem;
  color: #fff;
  -webkit-filter: drop-shadow(2px 2px 4px #000);
  filter: drop-shadow(2px 2px 4px #000);
  text-shadow: 1px 1px 2px #000;
  opacity: 0.75;
  z-index: 1
}

.slider-container .btn-prev>span,
.slider-container .btn-next>span {
  display: block
}

.slider-container .btn-prev.disable,
.slider-container .btn-next.disable {
  cursor: default
}

.slider-container .btn-prev:not(.disable):focus,
.slider-container .btn-prev:not(.disable):hover,
.slider-container .btn-next:not(.disable):focus,
.slider-container .btn-next:not(.disable):hover {
  opacity: 1;
  color: #ff467e
}

.slider-container .btn-prev {
  vertical-align: -.125em;
  left: 0
}

.slider-container .btn-prev::before {
  content: "\f053"
}

.slider-container .btn-next {
  vertical-align: -.125em;
  right: 0
}

.slider-container .btn-next::before {
  content: "\f054"
}

.btn-primary {
  border-radius: 7px;
  border: 1px solid #1a79d0;
  background-color: #2e8de5;
  width: 170px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase
}

.btn-primary:hover,
.btn-primary:focus {
  border-color: #ff1d62;
  background-color: #ff467e
}

.footer {
  color: #fff
}

.footer ::selection {
  background-color: #006178
}

.delivery-notice {
  padding: 30px 0 0;
  width: 550px;
  font-size: 16px;
  text-transform: uppercase
}

.delivery-notice>span {
  display: inline-block;
  width: 100%
}

.step1-container {
  margin-top: 90px
}

.subject {
  font-size: 26px;
  font-weight: 400;
  color: #2e8de5;
  text-align: center
}

.subject>strong,.subject>b {
  font-weight: 800
}

.util-menu {
  margin-top: 20px
}

.util-menu-item {
  padding: 0 .25em
}

.util-menu-item:focus {
  background-color: #ff467e
}

.layer-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.75);
  z-index: 900
}
.in-modal {
  overflow-y: scroll
}
.in-modal body {
  position: fixed;
  overflow: scroll
}

.layer-popup:target,
.in-modal .layer-popup {
  display: block
}

.dialog {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-width: 0 3px 3px;
  border-style: solid;
  border-color: #1a79d0;
  width: 500px;
  background-color: #fff
}

.dialog-header {
  background-color: #1a79d0;
  height: 35px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  color: #fff
}

.dialog-body {
  padding: 30px;
  color: #222;
  text-align: center
}

.dialog-body .subject {
  font-weight: 600;
  font-size: 20px;
  color: #1a79d0
}

.dialog-body .desc {
  margin: 15px auto 20px;
  font-size: 13px;
  text-align: center
}

.mail-form-table {
  margin: 25px auto;
  width: 430px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px
}

.mail-form-table th {
  background-color: #d4e5f5;
  border: 1px solid #ccc;
  padding: 0;
  width: 140px;
  height: 27px;
  font-weight: 600;
  color: #1a79d0;
  vertical-align: middle
}

.mail-form-table td {
  background-color: #d4e5f5;
  border: 1px solid #ccc;
  padding: 0;
  height: 27px;
  vertical-align: middle;
  color: #222
}

.mail-form-table input,
.mail-form-table textarea {
  box-sizing: border-box;
  background-color: transparent;
  display: block;
  border: 0;
  padding: .25em .5em;
  width: 100%;
  height: 100%
}

.mail-form-table textarea {
  height: 6.4em
}

.dialog-body .btn {
  margin: 0 .5em;
  font-size: 14px;
  font-weight: 400
}